// libraries.
@import "bourbon";
@import "neat";

// Utilities
@import 'utils/*';

// Layout
@import 'layout/*';
@import 'components/*';

// Custom Page Styles
@import 'pages/*';

html, body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
